.option {
    display: flex;
}

.option .imgSource {
    height: 100px;
}

.option .title {
    font-weight: bold;
}

.option .description {
    margin-top: 10px;
}

.selectize-dropdown-content {
    max-height: 80vh;
}

/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 100%;
}
