.option {
    display: flex;
}

.option .imgSource {
    height: 100px;
}

.option .title {
    font-weight: bold;
}

.option .description {
    margin-top: 10px;
}

.selectize-dropdown-content {
    max-height: 80vh;
}

/* Optional: Makes the sample page fill the window. */
html, body, #map-container, #map {
    height: 100%;
    margin: 0;
    padding: 0;
}

/*
#mapDetails{
    height: 50%;
}

#map {
    height: 100%;
} */

#variantList li {
    cursor: pointer;
}

/*.selectize-control {*/
/*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
/*line-height: 20px;*/
/*height: 56px;*/
/*}*/
/*.selectize-input {*/
/*padding: 17px;*/
/*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
/*line-height: 20px;*/
/*height: 56px;*/
/*}*/

/*div.selectize-input.items.has-options.full.has-items > div.item {*/
/*!*padding: 10px;*!*/
/*}*/

/*.selectize-control.single .selectize-input, .selectize-control.single .selectize-input input {*/
/*bottom: 10px;*/

/*}*/

.selectize-input {
    height: 56px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    /*padding: 17px;*/
}

.input-tags-selectized {
    position: relative !important;
}

ul li .emailContent {
    font-size: 12px;
}

.icon.icon-bg.icon-xs {
    line-height: 25px;
}